* {
    margin: 0;
    padding: 0;
}
#gameDiv {
    width: 500px;
    height: 288px;
}
canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}
@import url(http://fonts.googleapis.com/css?family=VT323);

.hiddenText {
    font-family: 'VT323', monospace;
    visibility: hidden;
    height: 0;
}